<!DOCTYPE html>
<html lang="en">
<head>
<title>{judulku}</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="description" content="{judulku}">
<meta name="keywords" content="meme, gambar lucu, ngakak, humor"> 
<meta name="author" content="MemeBIASAWAE"> 

<link rel="canonical" href="{sek_url}" />

<meta property="fb:app_id" content="675775232575216"/>
<meta property="og:url" content="{sek_url}" />
<meta property="og:title" content="{judulku}" />
<meta property="og:image" content="{sek_img_url}" />
<meta property="og:description" content="{judulku}" />



<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/jquery-ui.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="{sumber}/inc/js/ui/jquery.ui.datepicker.js"></script>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript" src="{sumber}/inc/js/jquery.js"></script>

<link href="{sumber}/inc/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
<link href="{sumber}/inc/bootstrap/navbar-fixed-top.css" rel="stylesheet">



</head>

<body>







<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="{sumber}">MemeBIASAWAE</a>
  <hr>


</div>
<div style="height: 1px;" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li class="{tab_aktif_beranda}"><a href="{sumber}">BERANDA</a></li>
    <li class="{tab_aktif_direktori1}"><a href="{sumber}/d_sumber_meme.php">SUMBER MEME</a></li>
    <li class="{tab_aktif_direktori2}"><a href="{sumber}/d_download.php">DOWNLOAD</a></li>
    <li class="{tab_aktif_direktori3}"><a href="{sumber}/d_peringatan.php">PERINGATAN</a></li>
    <li class="{tab_aktif_direktori4}"><a href="{sumber}/d_pengembang.php">PENGEMBANG</a></li>

  </ul>

</div><!--/.nav-collapse -->

  </div>


  
</div>





<table width="100%" border="0" cellspacing="0" cellpadding="3">
<tr bgcolor="#fff3b2" valign="top">
<td height="400">
<br>
<br>
{isi}

</td>
</tr>
</table>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{sumber}/inc/bootstrap/jquery.js"></script>
<script src="{sumber}/inc/bootstrap/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{sumber}/inc/bootstrap/ie10-viewport-bug-workaround.js"></script>
  

<script charset="UTF-8" src="{sumber}/inc/bootstrap/hdv.js" type="application/javascript"></script>




  <table width="100%" border="0" cellpadding="5" cellspacing="0">
    <tr>
      <td align="left" bgcolor="maroon">
	  &copy;2016. {versi}
	  </td>
    </tr>
  </table>
  

 <table width="100%" border="0" cellpadding="3" cellspacing="0">
    <tr align="center" bgcolor="maroon">
      <td>
		<a href="http://info.flagcounter.com/jBgO"><img src="http://s01.flagcounter.com/count2/jBgO/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_0/labels_1/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0" width="0" height"0"></a>
	  </td>
	  
	  <td>
	  	  <!-- Histats.com  (div with counter) --><div id="histats_counter"></div>
<!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3570295,4,30,130,80,00011111']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3570295&101" alt="" border="0"></a></noscript>
<!-- Histats.com  END  -->


	  </td>
    </tr>
  </table>



  <script type="text/javascript">

      var _gaq = _gaq || [];

      _gaq.push(['_setAccount', 'UA-51305170-1']);


      _gaq.push(['_trackPageview']);


      (function() {

        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ?  'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

      })();

    </script>







<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b2847f11659e60"></script>







</body>
</html>